@import "../../styles/variable";

.searchBar{
  @extend .fl;
  @extend .posAbo;
  width: 50%;
  top: 25%;
  margin-right: 3%;
  position: relative;
  .search{
    @extend .posAbo;
    top: 12px;
    left: 5px;
    z-index: 1;
    height: 15px;
  }
}

@media (max-width:1200px) {
  .searchBar {
    width: 50%;
  }
  .searchDropdown{
    width:91%;
  }
}
@media (max-width:1024px) {
  .searchBar {
    width:25%
  }
  .searchDropdown{
    width:36%;
  }
}

@media  screen and (max-width: 1280px) {
  .searchDropdown{
    width:91.1%;
  }
}
